* {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
}

body {
  background-color: #1b1d36;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}

.form {
  width: 94.3%;
  padding: 20px;
  margin: 0 auto;
  background-color: #232546;
  background-size: cover;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
}

.form-title {
  font-weight: 500;
  font-size: 1.3rem;
  width: 100%;
  text-align: center;
  color: #eff7fc;
  margin-bottom: 0.9rem;
}

.form-input,
.form-search {
  height: 2rem;
  border: none;
  padding: 5px;
  border-radius: 8px;
  margin: 0 0.5rem;
  outline: none;
}

.form-input {
  color: white;
  width: 20rem;
  background-color: #2d2f58;
}

.form-search {
  cursor: pointer;
  height: 2.5rem;
  width: 3rem;
  color: #eff7fc;
  background-color: #2d2f58;
}
/* Loading */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #f1f1f1;
  color: #f1f1f1;
}

.loading:after {
  content: '';
  width: 40px;
  height: 40px;
  display: block;
  background: none;
  border: 5px solid #88d4bb;
  border-top: 5px solid #f1f1f1;
  border-radius: 50%;
  animation: loading 5s alternate infinite;
}

@keyframes loading {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Data API */

.container {
  display: flex;
  flex-wrap: wrap;
}

.info {
  /* height: 40vh; */
  margin: 20px;
  background-color: #232546;
  position: relative;
  padding: 40px;
  border-radius: 10px;
  width: 42%;
}

.backgroundHot {
  background-color: #232546;
}

.bgCard {
  background: #232546;
}

.info-img {
  width: 7rem;
}

.info-location {
  font-weight: 400;
  color: #eff7fc;
  font-size: clamp(1rem, 5vw, 3rem);
  width: 100%;
}

.info-extra {
  display: flex;
}

.info-temp {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: clamp(5rem, 10vw, 10rem);
  margin-top: 2rem;
  font-weight: 700;
  color: #eff7fc;
}

.info-data {
  margin-right: 2rem;
  margin-top: 2rem;
  color: #eff7fc;
}

/* ForecastDay */

.bgCard {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

.bgCard-Title {
  width: 100%;
  text-align: left;
  color: #eff7fc;
}

.bgCard-span {
  font-weight: 400;
}

.info-forec {
  color: #eff7fc;
  margin: 2rem 12px;
}
/* Extended */

.extended {
  width: 92%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  background: #232546;
}

@media screen and (max-width: 1900px) {
  .info {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  body {
    width: 95%;
  }
  .form {
    width: 100%;
  }
  .form-container {
    width: 90%;
  }

  .form-input {
    width: 96.5%;
  }

  .form-search {
    width: 100%;
    margin-top: 1rem;
  }
  .form-title {
    margin-bottom: 1rem;
  }
  .info {
    margin: 0;
    margin-top: 1rem;
    padding: 20px;
  }
}
